<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="CosmosStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pscosmosdb;AccountKey=HWSNar23qPrbBwMDOtdtJEbKMIA3fiQkDRWArDS8wfFzVMOua4ZyAViR2ZF9DSkqoqxn4DuXWWDdrrzBpwHRag==;TableEndpoint=https://pscosmosdb.documents.azure.com:443/"/>
    <add key="TableStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=psazurestoragedemo;AccountKey=A6mF7FeOvUXFwA3Py9DIfXaWNkRCnhOvwiJx8WS6BwWceNmlHb4fsNOMhT5GB0yWOpZ/rjXmJUBfWHxDWr9lew==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>
